.row
  .col-lg-8
    .panel.panel-success
      .panel-heading
        新闻
      .panel-body
        weee
  .col-lg-4
    .panel.panel-primary
      .panel-heading
        新闻
      .panel-body
        weee
