.row.main_page
  .col-lg-8
    - News::SOURCES.each do |source|
      .panel.panel-primary
        .panel-heading
          = source[1]
          .pull-right
            = link_to ">> 更多", more_news_path(:subcate => source[1])
        .panel-body
          %table.table.table-condensed
            - @news[source[1]][0..10].each do |n|
              %tr
                %td
                  .title
                    = link_to n.title, n.link, :target => "_blank"
                  .desc
                    = raw n.description


  .col-lg-4
    .panel.panel-primary
      .panel-heading
        笑话一则
      .panel-body
        老师：知道那个汉字最有毅力吗？学生：田。老师：怎么说？学生：挡着左边右边日，挡着右边左边日，挡着上边下边日，挡着下边上边日，抽掉一横躺着日，抽掉一竖站着日。老师：……
        
