.row.main_page
  .col-lg-8
    - News::SOURCES.each do |source|
      .panel.panel-success
        .panel-heading
          = params[:subcate]
        .panel-body
          %table.table.table-condensed
            - @news.each do |n|
              %tr
                %td
                  .title
                    = link_to n.title, n.link, :target => "_blank"
                  .desc
                    = raw n.description
          = paginate @news


  .col-lg-4
    .panel.panel-primary
      .panel-heading
        新闻
      .panel-body
        weee
