<!DOCTYPE html>
<html>
<head>
<title>123大杂烩</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="IP地址查询,域名查询,IP地理位置查询,PM2.5,邮编,开放数据查询"  name="description" />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253386006'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253386006' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
